@tailwind base;
@tailwind components;
@tailwind utilities;

.aside-post::before{
    position: absolute;
    width: 7px;
    height: 56px;
    left: 0;
    top: 0;
    display: block;
    content: '';
    background-color: rgb(48, 108, 213);
}