@tailwind base;
@tailwind components;
@tailwind utilities;

.aside-post::before {
    position: absolute;
    width: 3px;
    height: 55px;
    left: 0;
    top: 0;
    display: block;
    content: '';
    background-color: rgb(48, 108, 213);
}

.select-menu {
    @apply 
        dark:bg-gray-800 bg-indigo-50 w-full dark:placeholder-gray-700 text-opacity-40 hover:cursor-pointer appearance-none bg-transparent py-2 pl-3 pr-9 text-sm font-semibold rounded-xl; 
}
.select-option{
    @apply hover:cursor-pointer;
}