@tailwind base;
@tailwind components;
@tailwind utilities;

.aside-post::before {
    position: absolute;
    width: 4px;
    height: 56px;
    left: 0;
    top: 0;
    display: block;
    content: '';
    background-color: rgb(48, 108, 213);
}
.aside-post-white::before {
    position: absolute;
    width: 4px;
    height: 55px;
    left: 0;
    top: 0;
    display: block;
    content: '';
    background-color: rgb(94, 104, 122);
}
.gradient {
    height: fit-content;
    z-index: 3;
    width: 100%;
    max-width: 640px;
    background-image: radial-gradient(
        at 27% 37%,
        rgb(252, 253, 255) 0px,
        transparent 0%
      ),
      radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
      radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
      radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
      radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
      radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
      radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    filter: blur(100px) saturate(150%);
    top: 80px;
    opacity: 0.15;
  }

.select-menu {
    @apply 
        dark:bg-gray-800 bg-indigo-50 w-full dark:placeholder-gray-700 text-opacity-40 hover:cursor-pointer appearance-none bg-transparent py-2 pl-3 pr-9 text-sm font-semibold rounded-xl; 
}
.select-option{
    @apply hover:cursor-pointer;
}
.blue-gradient{
    @apply bg-gradient-to-r  from-blue-700 via-sky-400 to-blue-500 hover:from-blue-800 hover:via-sky-400 hover:to-blue-600  transition-all duration-300 ease-in-out ;
}
.blue-text-gradient-with-hover{
    @apply bg-gradient-to-r  from-blue-700 via-sky-400 to-blue-500 hover:from-blue-800 hover:via-sky-400 hover:to-blue-600  transition-all duration-300 ease-in-out bg-clip-text text-transparent;
}
.blue-text-gradient{
    @apply bg-gradient-to-r  from-blue-700 via-sky-400 to-blue-500   transition-all duration-300 ease-in-out bg-clip-text text-transparent;
}
.red-text-gradient-with-hover{
    @apply bg-gradient-to-r  from-red-300 via-pink-400 to-red-500 hover:from-red-800 hover:via-pink-400 hover:to-red-600  transition-all duration-300 ease-in-out bg-clip-text text-transparent;
}
.red-text-gradient{
    @apply bg-gradient-to-r  from-red-600 via-red-400 to-red-600   transition-all duration-300 ease-in-out bg-clip-text text-transparent;
}

.profile-setting{
    display: none;
}
.level-item {
    @apply transition border-b-4 border-gray-500 pb-3 ease-in duration-150 hover:text-gray-800 dark:hover:text-white px-2;
}

[x-cloak] { display: none !important; }